@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');

:root {
    --branco: #FFFFFF;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --fonte-principal: "Inter", sans-serif;
    --vermelho-botao: #8E2424;
    --azul-escuro: #101828;
    --rosa-botao: rgba(142, 36, 36, 0.05);
    --borda-vagas: #EAECF0;
    --borda-email: #D0D5DD;
    --cinza-footer: #98A2B3;
}

body {
    background-color: var(--branco);
}

/*Cabeçalho:*/

.cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 32px;
    margin: 1.1em 5em;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
}

.cabecalho__logo__texto {
    margin-left: 0.5em;
    margin-right: 7.4em;
    color: var(--cinza-escuro);
    font-family: var(--fonte-principal);
    font-size: 18px;
    white-space: nowrap; /* Impede quebra de linha */
}

.cabecalho__menu {
    display: flex;
    gap: 1em; /* Espaço consistente entre os links */
}

.cabecalho__menu__link {
    text-decoration: none;
    padding: 6px;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cinza-claro);
}

.cabecalho__cadastro {
    display: flex;
    align-items: center;
    margin-left: auto; /* Adiciona espaço automático à esquerda */
    gap: 1em; /* Espaço consistente entre os botões */
}

.cabecalho__cadastro__entrar {
    font-size: 16px;
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
    text-decoration: none;
}

.cabecalho__cadastro__cadastrar {
    border-radius: 8px;
    border: 2px solid var(--vermelho-botao);
    font-size: 16px;
    font-family: var(--fonte-principal);
    color: var(--branco);
    background-color: var(--vermelho-botao);
    padding: 10px 18px;
    text-decoration: none;
}

/*Sobre nós:*/

.about{
    display: flex;
    flex-direction: column;
    padding: 96px 0 96px 0;
    align-items: center;
    font-family: var(--fonte-principal);
}

.about__titulo{
    color: var(--vermelho-botao);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.about__text{
    color: var(--azul-escuro);
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 1.5em;
    padding: 0 32px 0 32px;
}

.about__conteudo{
    color: var(--cinza-claro);
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    margin: 0 14em 0 14em;
}

/*Métricas:*/

.metrica{
    padding-bottom: 96px;
}

.metrica__conteudo{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 5em 0 5em;
    font-family: var(--fonte-principal);
    text-align: left;
}

.metrica__conteudo__400, .metrica__conteudo__100, .metrica__conteudo__20, .metrica__conteudo__500{
    
    margin: 0 2em 0 2em;
}

.metrica__conteudo__titulo{
    font-size: 60px;
    color: var(--vermelho-botao);
    font-weight: 600;
    margin-bottom: 0.75em;
    line-height: 72px;
}

.metrica__conteudo__subtitulo{
    font-size: 18px;
    color: var(--azul-escuro);
    font-weight: 500;
    margin-bottom: 0.5em;
}

.metrica__conteudo__texto{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-claro);
}

/*Vagas:*/

.vagas{
    padding: 96px 0 96px 0;
}

.vagas__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 4em;
}

.vagas__img__texto{
    margin-bottom: 4em;
}

.vagas__img__texto__1{
    color: var(--vermelho-botao);
    font-size: 14p;
    font-weight: 500;
    border-radius: 16px;
    border: 2px solid transparent;
    padding: 4px 12px 4px 12px;
    background-color: var(--rosa-botao); /* Cor #8E2424 com 5% de opacidade */
}

.vagas__img__texto__titulo{
    font-size: 36px;
    font-weight: 600;
    color: var(--azul-escuro);
    margin-top: 1em;
}

.vagas__img__texto__subtitulo{
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-claro);
    margin-top: 1.25em;
}

/**/

.vagas__tipos{
    margin: 0 5em 6em 5em;
    font-family: var(--fonte-principal);
}

.vagas__tipos__1{
    margin-bottom: 4em;
    display: block;
    text-align: left;
    padding: 0 32px 0 32px;
}

.vagas__tipos__1__conf{
    margin: 0 16em 0 16em;
}

.vagas__titulo{
    font-size: 20px;
    font-weight: 500;
    color: var(--azul-escuro);
    margin-bottom: 2em;
}

.vagas__tipos__bordas__1{
    border-radius: 16px;
    border: 2px solid var(--borda-vagas);
    padding: 24px 24px 28px 24px;
    margin-bottom: 1.5em;
}

.vagas__subtitulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-escuro);
    margin: 1.5em 1.5em 2em 1.5em;
}

.vagas__tipos__dados{
    display: flex;
    flex-direction: row;
}

.vagas__texto{
    font-size: 16px;
    font-weight: 500;
    margin: 0 1.5em 2em 1.5em;
    color: var(--cinza-claro);
}

/*Depoimentos:*/

.depoimentos{
    padding-bottom: 96px;
}

.depoimentos__caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 64px 64px;
    font-family: var(--fonte-principal);
    background-color: var(--rosa-botao);
    margin: 0 7em 0 7em;
}

.depoimentos__titulo{
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho-botao);
    margin: 4em 4em 1em 4em;
}

.depoimentos__texto{
    font-size: 36px;
    font-weight: 500;
    color: var(--azul-escuro);
    margin-bottom: 2em;
}

.depoimentos__nome{
    margin: 1em 0 0.25em 0;
    font-size: 500;
    font-size: 16px;
    color: var(--azul-escuro);
}

.depoimentos__legenda{
    font-size: 14x;
    font-weight: 400;
    color: var(--cinza-claro);
}

/*Rodapé:*/

.rodape{
    padding: 96px 0 96px 0;
    display: block;
    align-items: center;
    text-align: center;
    font-family: var(--fonte-principal);
}

.rodape__conteudo{
    margin-bottom: 2.5em;
}

.rodape__conteudo__titulo{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1.25em;
    color: var(--azul-escuro);
}

.rodape__conteudo__texto{
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
}

.rodape__email{
    margin-bottom: 2em;
}

.rodape__email__conf {
    border: 1px solid var(--borda-email);
    color: var(--azul-escuro);
    border-radius: 8px;
    padding: 0.75em 0.87em 0.75em 1em;
    width: 22%;
    height: 4vh;
}

.rodape__email__conf::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: var(--cinza-claro);
}

.rodape__email__botao{
    border-radius: 8px;
    border: 2px solid var(--vermelho-botao);
    font-size: 16px;
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 500;
    background-color: var(--vermelho-botao);
    padding: 0.75em 1.25em 0.75em 1.25em;
    text-decoration: none;
    margin-left: 1em;
}

.rodape__menor{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-footer);
}
